/* formato del body */
body {
  background-color: rgb(255, 238, 183);
  width: auto;
  height: auto;
}
/*formato del login form y register form */
section.form-registration {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 10px;
  margin: 10px 20px;
  padding: 20px 30px;
}

div.title-form {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

div.row-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 5px;
}

.row-form label {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 6px;
}

.row-form input[type="text"],
.row-form input[type="email"],
.row-form input[type="password"] {
  width: 100%;
  padding: 10px 5px;
  font-size: 12px;
  border: 1px solid grey;
  border-radius: 5px;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

button.input-register-form {
  padding: 14px 40px;
  background-color: rgb(91, 150, 91);
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  color: white;
  transition:
    background-color 0.2s ease,
    transform 0.2s ease;
}

/*formatos de dashboard*/
nav {
  display: flex;
  justify-items: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  border: 1px solid gray;
}

div.button-nav {
  display: flex;
  width: auto;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: cyan;
  justify-content: center;
  cursor: pointer;
  transition: background-color;
}

a.link-button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: black;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

div.TitlePage {
  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 10px 20px;
}

div.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 2px solid black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

div.popup.active {
  display: block;
}
